.navwrapper{
    min-height: 70px;
    width: 100%;
    max-width: 1120px;
    position: fixed; /* Make it stick/fixed */
    top: 0;
    background-color: rgba(0, 0, 0, 0.80);
    backdrop-filter: saturate(150%) blur(10px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 2rem;
    box-shadow: 0 0 10px 0 #b7b7b7;
    z-index: 11;
    border-radius: 0 0 8px 8px;
    transition: .3s ease;
}

.nav{
    position: relative;
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.navlink{
    display: inline-block;
    max-width: 150px;
    min-width: 100px;
    width: 100%;
    height: 100%;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    transition: .3s ease;
}

.navlink a{
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.riser{
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #A46877;
    transition: .3s ease;
}

.navlink:hover{
    border-bottom: 4px solid #A46877;
    border-top: 4px solid transparent;
}

.headerlogo{
    width: 150px;
}

@media only screen and (max-width: 1120px) {
    .navwrapper{
        border-radius: 0;
    }
}

@media only screen and (max-width: 685px){
    .container {
        padding-top: 112px;
    }

    .navwrapper{
        padding: 1rem 0 0 0;
        flex-flow: column;
    }

    .nav{
        justify-content: center;
        width: 100%;
    }

    #sidebar{
        top: 112px;
    }
}
