@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700|Open+Sans:300,400,600&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'IBM Plex Sans', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #333;
}

p, span, a, li{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

ul{
    list-style: inside;
}

img, iframe{
    width: 100%;
    max-width: 100%;
}

iframe{
    height: 350px;
}

p{
    margin-bottom: 1rem;
}

h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: inherit;
    transition: .3s ease;
}

p > a, li > a{
    color: #A46877;
}

p > a:hover, li > a:hover{
    color: #333333;
}

.container{
    max-width: 1120px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 70px;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease 100ms;
    position: absolute;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms ease;
}

.fade-enter-done{
    position: relative;
    top: 0;
}

.i-marg-right{
    margin-right: 7px;
}

i{
    color: #acacac;
}

@media screen and (max-width: 625px){
    iframe{
        height: 200px;
    }
}

.card{
    box-shadow: 0 0 4px 0 #b7b7b7;
    border-radius: 8px;
    padding: 1rem 2rem;
    position: relative;
}

.cardhr{
    background-image: linear-gradient(to right, #acacac, #c0c0c0, #d5d5d5, #eaeaea, #ffffff);
    height: 1px;
    border: 0;
    margin: 5VH 0;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeinClass{
    opacity: 0;
    animation: fadein .5s ease .1s 1 normal forwards;
    z-index: 1;
}

.content{
    padding: 2rem;
}

.assignmentContent{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}