@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700|Open+Sans:300,400,600&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'IBM Plex Sans', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #333;
}

p, span, a, li{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

ul{
    list-style: inside;
}

img, iframe{
    width: 100%;
    max-width: 100%;
}

iframe{
    height: 350px;
}

p{
    margin-bottom: 1rem;
}

h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: inherit;
    transition: .3s ease;
}

p > a, li > a{
    color: #A46877;
}

p > a:hover, li > a:hover{
    color: #333333;
}

.container{
    max-width: 1120px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 70px;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease 100ms;
    position: absolute;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms ease;
}

.fade-enter-done{
    position: relative;
    top: 0;
}

.i-marg-right{
    margin-right: 7px;
}

i{
    color: #acacac;
}

@media screen and (max-width: 625px){
    iframe{
        height: 200px;
    }
}

.card{
    box-shadow: 0 0 4px 0 #b7b7b7;
    border-radius: 8px;
    padding: 1rem 2rem;
    position: relative;
    margin-bottom: 2rem;
}

.cardhr{
    background-image: linear-gradient(to right, #acacac, #ffffff);
    height: 1px;
    border: none;
    margin-bottom: 1.5rem;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeinClass{
    opacity: 0;
    animation: fadein .3s ease 0s 1 normal forwards;
    z-index: 1;
}

.content{
    padding: 2rem;
}

.assignmentContent{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
}

.dropdownInner{
    display: none;
    background-color: #333333;
    padding: 1rem 1rem 0 1rem;
    border-radius: 0 0 8px 8px;
    border-top: 4px solid #A46877;
    width: 300%;
    text-align: center;
}

.dropdownInnerHover{
    position: absolute;
    top: 94%;
    display: flex;
    flex-flow: column;
}

.dropdownItem{
    border-bottom: 1px solid #555;
    padding-bottom: 7px;
    margin-bottom: 1rem;
    transition: .3s ease;
}

.dropdownItem:hover{
    color: #999;
}

.gitcard{
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    cursor: pointer;
    transition: .3s ease;
    flex: 1 1 0;
}

.gitcard:hover{
    box-shadow: 0 0 4px #000000;
}

.githeader{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #A46877;
}

.gitsection{
    height: 100%;
    margin-bottom: 1rem;
}

.gitsection p{
    margin: 0;
}

.marg-bot{
    margin-bottom: 1rem;
}

.gitcardwrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: minmax(350px, 1fr);
    grid-gap: 2rem 2rem;
}

.langColor{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
}

.gitfooter{
    display: flex;
    justify-content: space-between;
}

.gitfootright{
    display: flex;
    align-items: center;
}

.gitfootright img{
    margin-left: 10px;
    width: 25px;
}